@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #1B2430;
    color: #1363DF;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    border: 3px solid #1363DF;
    
}
.input-number{
    height: 30px;
    margin: 20px 0;
    background-color: #1363DF;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
}
.btn {
    cursor: pointer;
    width: 250px;
    height: 30px;
    background-color: #1363DF;
    color: #fff;
    font-size: large;
    margin: 30px 0;
    transition: 1s;
    
}
h1 {
    font-size: 2.5em;
    
}
.btn:hover{
    transform: scale(1.1);
}